@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: rgba(231, 9, 9, 0.856);
}

h2,
h3 {
  font-family: "Nunito Sans", sans-serif;
  color: rgba(221, 16, 16, 0.842);
  font-weight: 600;
  text-align: center;
}

h4 {
  font-family: Verdana, sans-serif;
}

p {
  color: rgb(41, 3, 9);
  line-height: 1.6em;
  font-size: 1em;
}

.p2 {
  color: rgb(231, 219, 219);
  font-size: 18px;
  line-height: 24px;
}

.bgred3 {
  background-color: rgba(231, 9, 9, 0.856);
  border-radius: 10px;
}

.bgbutton {
  background-color: rgba(201, 28, 28, 0.801);
  color: rgb(231, 219, 219);
  border-color: solid rgba(228, 99, 99, 0.692) 1px;
  border-radius: 15px;
}

button.btn.bgbutton:hover {
  background-color: rgb(231, 219, 219);
  color: 3px rgba(231, 9, 9, 0.856);
  border-radius: 15px;
  border: solid rgba(231, 9, 9, 0.856) 2px;
}

.bgredheader {
  background-color: rgba(228, 99, 99, 0.692);
  color: rgb(231, 219, 219);
}

.bgred1 {
  background-color: rgba(201, 28, 28, 0.801);
  border-radius: 15px;
}

.bgred2 {
  background-color: rgba(221, 91, 91, 0.705);
  border-radius: 10px;
}

.borderred {
  border: solid rgba(231, 9, 9, 0.856) 1px;
  border-radius: 5px;
}

.bgred {
  background-color: #f2d5d5;
}

.box-adds {
  background-color: rgb(242, 8, 51);
  padding: 8px 0px;
  text-align: center;
  color: antiquewhite;
}

.nunitolight {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
}

#carouselExampleIndicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40%;
  /* padding-top: 0px;
  margin-left: 25%; */
}

.text-bold {
  font-weight: 600;
}

.text-italic {
  font-style: 300;
}

.text-primary {
  color: rgb(242, 7, 51);
}

.nunitolight {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
}

a[href="#"] {
  border: solid 2px rgb(219, 194, 194);
  border-radius: 5px;
}

@media (width < 900px) {
  .home .productosart {
    width: 45%;
  }
}
@media (width < 768px) {
  .home .productosart {
    width: 80%;
  }
}
.btn-base, .btn-stroke, .btn-secondary, .btn-main {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.btn-main {
  background-color: rgba(231, 9, 9, 0.856);
  color: rgb(231, 219, 219);
}

.btn-secondary {
  background-color: rgba(209, 20, 20, 0.521);
  color: rgb(231, 219, 219);
}

.btn-stroke {
  background-color: rgb(231, 219, 219);
  color: rgba(231, 9, 9, 0.856);
}
.btn-stroke:hover {
  background-color: rgba(231, 9, 9, 0.856);
  color: rgb(231, 219, 219);
}

.header-base, .header-profesionals, .header-home {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-home {
  background-image: url(../img/header/header4.jpg);
}

.header-profesionals {
  background-image: url(../img/header/header2.png);
}

nav ul li a {
  color: rgba(231, 9, 9, 0.856);
  text-transform: uppercase;
}
nav ul li a:active {
  color: rgba(209, 20, 20, 0.521);
}

.headerprod {
  display: flex;
  justify-content: center;
}

.menu {
  background-color: rgba(231, 9, 9, 0.856);
  padding: 5px 40px;
}
.menu img {
  width: 200px;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li {
  margin-right: 20px;
}
.menu ul a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(248, 243, 244);
  text-transform: uppercase;
}
.menu ul a:hover {
  color: rgb(223, 147, 147);
}
.menu svg {
  width: 35px;
  fill: rgb(231, 219, 219);
}
.menu .navbar-toggler {
  border: solid white 1px;
}

figure.productosart figcaption {
  color: red;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
figure.productosart a {
  background-color: rgb(242, 8, 51);
  color: #F2DDD5;
  padding: 4x 20px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}
figure.productosart p {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.productosart img {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
}
.home .homeheader {
  display: flex;
  justify-content: start;
  padding: 20px;
}
.home .homeinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(233, 78, 78, 0.589);
  border-radius: 15px;
  width: 70%;
}
.home .homeinfo h1 {
  font-size: 35px;
  width: 70%;
  margin-bottom: 50px;
}
.home .homeinfo p {
  font-size: 22px;
  width: 70%;
}
.home .home-produ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 25px;
}
.home .productosart {
  border: red 3px solid;
  border-radius: 15px;
  width: 26%;
  margin-bottom: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .home-produ .productosart img {
  width: 80%;
}
.home .productosart a:hover {
  color: rgb(194, 148, 155);
}

@media (width < 992px) {
  .store {
    display: grid;
    grid-template-columns: 20% repeat(2, 1fr);
    grid-template-rows: 80% repeat(3, 300px);
    grid-template-areas: "actions actions actions" "filters prod1 prod1" "filters prod2 prod3" " . prod2 prod4 ";
    gap: 5px;
  }
  .store actions {
    padding: 0 30px;
    /* nombre de la grid */
    grid-area: actions;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .store actions button {
    margin-left: 10px;
    background-color: red;
    color: #F2DDD5;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
  .store actions .input {
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(231, 219, 219);
  }
  .store .filters {
    padding: 0px 20px 30px 30px;
    grid-area: filters;
  }
  .store .filters a {
    font-size: 1.4em;
    text-decoration: none;
    margin-bottom: 4px;
    text-transform: lowercase;
    color: red;
  }
  .store .filters a:hover {
    color: rgb(202, 180, 184);
  }
  .store .filters span {
    display: block;
    color: rgb(207, 142, 142);
    margin: 10px 0px;
    letter-spacing: 1px;
  }
  .store .filters select {
    color: white;
    border: none;
    background-color: red;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 1em;
  }
  .store .filters li {
    padding-left: 10px;
    list-style: none;
  }
  .store .prod1 {
    grid-area: prod1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .store .prod1 p {
    width: 50%;
    margin-left: 20px;
  }
  .store .prod1 img {
    width: 20%;
  }
  .store .prod2 {
    grid-area: prod2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .store .prod2 img {
    width: 70%;
  }
  .store .prod3 {
    grid-area: prod3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .store .prod3 img {
    width: 30%;
  }
  .store .prod4 {
    grid-area: prod4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#contenedor-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 20vh);
}

.cuadros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
}

footer {
  background-color: rgba(228, 8, 8, 0.658);
}
footer ul {
  list-style: none;
}
footer a {
  color: white;
  text-decoration: none;
}
footer img {
  display: inline;
  width: 50px;
  padding-top: 50px;
}

.wpp img {
  width: 60px;
  position: fixed;
  right: 100px;
  bottom: 50px;
}

@media (width < 992px) {
  .store {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "actions" "filters" "prod1" "prod2" "prod3" "prod4";
  }
  .store .actions {
    padding: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .store .prod1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .store .prod1 p {
    width: 50%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .store .prod1 img {
    margin-top: 15px;
  }
}
.container-fluid h2 {
  padding: 15px;
}

.card div {
  color: rgba(209, 20, 20, 0.521);
}

.card h2 {
  color: red;
}

.card .bg-card {
  background-color: rgba(231, 9, 9, 0.856);
  color: rgb(231, 219, 219);
}
.card .bg-card:hover {
  background-color: rgb(167, 19, 48);
  color: rgb(163, 122, 122);
}

button.btn.bgred3 {
  background-color: rgba(230, 19, 19, 0.637);
  color: white;
}
button.btn.bgred3:hover {
  background-color: rgba(221, 12, 12, 0.87);
  color: white;
  border-color: rgb(255, 255, 255);
}

body {
  background-color: red;
}

/*# sourceMappingURL=main.css.map */
