// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');
// vars
$mainFont: 'Nunito Sans', sans-serif;
$secondFont: Verdana, sans-serif;
//weights
$light:300;
$regular:400;
$bold:600;
//colors
$mainColor: rgba(163, 12, 12, 0.932);
$letterColor: rgba(221, 16, 16, 0.842);
$acentColor: rgba(221, 91, 91, 0.705);
$secondaryColor: rgba(209, 20, 20, 0.685);
$terciaryColor: rgba(248, 143, 143, 0.747);
$buttonColor: rgba(201, 28, 28, 0.801);
$pColor: rgb(41, 3, 9);
$White: rgb(238, 228, 228);
$Black: rgba(3, 3, 3, 0.87);
$Background: rgba(226, 6, 6, 0.363);
$backgroundLight:  #f2d5d5;
//sizes
$sm:0.8em;
$md:1em;
$lg:1.6em;
$xl:2em;
$xxl:3em;
// width - height
$width:100vw;
$height:100vh;

//todo lo general
*{
    font-family: 'Nunito Sans', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    text-align: center;
    color: $mainColor;
    font-size: $xxl;
    font-family:$mainFont;
    font-weight: $bold;
}
h2,
h3{
    font-family:$mainFont;
    color: $letterColor;
    font-weight: $bold;
    text-align: center;
}
h4,
h5{
    font-family:$secondFont;
}
p{
    color: $pColor;
    line-height: $lg;
    font-size: $md;
}

.blackf{
    background-color: $mainColor;
    color: $white;
    &:hover{
        background-color: $secondaryColor;
        color: white;
    }
}

.bgredcontact{
    background-color: $mainColor;
    color: $White;
    border-radius: 10px;
}

.maincolor{
    background-color: $mainColor;
    color: $White;
}

.maincolors{
    color: $white;
    background-color: $mainColor;
    &:hover{
        background-color: $Background;
        color: $secondaryColor;
    }
}

.p2{
    color: $White;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.p3{
    color: $mainColor;
}

.bgred3{
    background-color: $mainColor;
    border-radius: 10px;
}

.bgbutton{
    background-color: $buttonColor;
    color: $White;
    border-color: solid $terciaryColor 1px;
    border-radius: 5px;
}

button.btn.bgbutton:hover{
    background-color: $White;
    color: 3px $mainColor;
    border-radius: 15px;
    border: solid $mainColor 2px;
}

.bgredheader{
    background-color: $terciaryColor;
    color: $White;
}

.bgred1{
    background-color: $buttonColor;
    border-radius: 15px;
    
}

.bgred2{
    background-color: $acentColor;
    border-radius: 10px;
    }

.borderred{
    border: solid $mainColor 1px;
    border-radius: 5px;
}

.bgred{
    background-color:$backgroundLight;
}

.box-adds{
    background-color: $Background;
    padding: 8px 0px;  
    text-align: center; color: $White;
}

.nunitolight{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

#carouselExampleIndicators{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40%;
    /* padding-top: 0px;
    margin-left: 25%; */ 
}

  .text-bold{
    font-weight: $bold;
}

.text-italic{
    font-style: $light;
}

.text-primary{
    color: $letterColor;
}

.nunitolight{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

// a[href="#"]{
//     border: solid 2px rgb(219, 194, 194);
//     border-radius: 5px;
// }

