footer{
    background-color: $letterColor;
    ul{
         list-style: none;
    }
    a{
        color: $White;
        text-decoration: none;
    }
    img{
        display: inline;
        width: 50px;
        padding-top: 50px;
    }
}

.wpp img{
width: 60px;
position: fixed;
right: 100px;
bottom: 50px;
}