//extends

.btn-base{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.btn-main{
    @extend .btn-base;
    background-color: $mainColor;
    color: $White;
}

.btn-secondary{
    @extend .btn-base;
    background-color: $secondaryColor;
    color: $White;
}

.btn-stroke{
    @extend .btn-base;
        background-color: $White;
        color: $mainColor;
        &:hover{
            background-color: $mainColor;
            color: $White;
        }
    }

.header-base{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-home{
    @extend .header-base;
    background-image: url(../img/header/header4.jpg);
}

.header-profesionals{
    @extend.header-base;
    background-image: url(../img/header/header2.png);
}

//mixins
