@media (width < 992px){
   .store{
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
      "actions"
      "filters"
      "prod1"
      "prod2"
      "prod3"
      "prod4"; 
   }

 .store .actions{
    padding: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 .store .prod1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
       width: 50%;
       align-items: center;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    img{
       margin-top: 15px;
    }
 }


   .container-fluid h2{
   padding: 15px;
   }

   .card div{
      color: $secondaryColor;
   }

   .card h2{
      background-color: rgba(201, 28, 28, 0.801);
      color: rgb(231, 219, 219);
      border-color: solid rgba(228, 99, 99, 0.692) 1px;
      border-radius: 15px;
   }

   .card .bg-card{
   background-color: $mainColor;
   color: $White; 
      &:hover{
      background-color: rgb(167, 19, 48);
      color: rgb(163, 122, 122); 
      }
   }
   button.btn.bgred3{
   background-color: rgba(230, 19, 19, 0.637);
   color: white;
      &:hover{
      background-color: rgba(221, 12, 12, 0.87);
      color: white;
      border-color: rgb(255, 255, 255);
      }
   }
}