@media (width < 992px){
   .store{
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
      "actions"
      "filters"
      "prod1"
      "prod2"
      "prod3"
      "prod4"; 
   }

 .store .actions{
    padding: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 .store .prod1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
       width: 50%;
       align-items: center;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    img{
       margin-top: 10px;
    }
 }


   .container-fluid h2{
   padding: 20px;
   }

   .card div{
      color: $secondaryColor;
   }

   .card h2{
      background-color: $letterColor;
      color: $White;
      border-color: solid $acentColor 1px;
      border-radius: 15px;
   }


   .card .bg-card{
   background-color: $mainColor;
   color: $White; 
      &:hover{
      background-color: $secondaryColor;
      color: $terciaryColor; 
      }
   }
   button.btn.bgred3{
   background-color: $buttonColor;
   color: $White;
      &:hover{
      background-color: $Background;
      color: $White;
      border-color: $buttonColor;
      }
   }
}