.container{
    padding: 30px 5px;
}

#contenedor-grid{
    display: grid;
    grid-template-columns: 1fr;
     grid-template-rows: repeat(5,20vh);

}

.cuadros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
}

